{% extends 'base.html' %}


{% block body %}
    <div class="home-box">
        <h1>WELCOME <br>
        TO <br>
        SAMRO BANK!</h1>
        <br>
        <br>
        <h3> Forget Cash...Go Digital!
Use NetBanking for all your day-to-day needs</h3>
<br>
<h2> Bank At Your Fingertips!!</h2>

        <div class="home-btn">
            <a href="/customer_view" type="button">View Customers</button></a>
            <a href="/transfer_money" type="button">Transfer Money</button></a>
        </div>
    </div>
{% endblock body %}